@import "tailwindcss";
@plugin "daisyui";

:root {
    /* FONDO PRINCIPAL O SECCIONES */
    --color-primary: #A0AE91;
    /* FONDOS CLAROS Y BLOQUE DE CONTENIDO */
    --color-secondary: #D9C9B6;
    /* FONDO DE BOTONES TARJETAS O DETALLES */
    --color-botones: #C8B79B;
    /* DETALLES O LLAMADAS A LA ACCION SUTILES */
    --color-atention: #A97E60;
    /* TEXTOS SECUNDARIOS O ELEMENTOS NEUTRO */
    --color-text-secundary: #C6C2B8;
    /* TEXTOS PRINCIPALES O FONDOS LIMPIOS */
    --color-text-primary: #F5F2EC;
  }