<section
  id="about"
  class="w-full py-12 px-4 bg-[var(--color-warm-sand)] text-center shadow-sm"
>
  <div class="max-w-6xl mx-auto">
    <h1 class="text-3xl font-semibold mb-8 text-[var(--color-terracotta)]">
      About us
    </h1>
    <div class="flex flex-col md:flex-row gap-8 items-center">
      <img
        src="/aboutPic.png"
        alt="Thai Massage Lanzarote"
        class="rounded-lg hidden md:block w-full md:w-1/2 mr-7"
      />

      <div class="w-full md:w-1/2 text-left">
        <h2 class="text-xl font-bold mb-4 text-[var(--color-atention)]">
          Experience the Art of Traditional Thai Massage
        </h2>

        <p class="mb-4 leading-relaxed">
          At <span class="font-medium">Malai Thai Massage Lanzarote</span>, we
          bring you the authentic art of traditional Thai massage, founded by
          native Thai experts as the first Thai-owned massage spa in Lanzarote.
        </p>

        <p class="mb-4 leading-relaxed">
          Our mission is to provide you with a deeply relaxing and rejuvenating
          experience in a serene, luxurious, and welcoming atmosphere.
        </p>

        <p class="mb-4 leading-relaxed">Our services include:</p>

        <ul class="list-disc pl-6 mb-4">
          <li>Traditional Thai Massage</li>
          <li>Thai Oil Massage</li>
          <li>Aromatherapy Massage</li>
          <li>Foot Massage</li>
          <li>Neck-Shoulder-Back Massage</li>
        </ul>

        <p class="leading-relaxed">
          All designed to relieve tension, stimulate blood circulation, and
          restore balance to both body and mind.
        </p>

        <p class="mt-4 italic">
          Experience the true essence of Thai healing and let us take care of
          your well-being with expertise from the very roots of Thai tradition
          here in Lanzarote.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  p,
  li {
    color: var(--color-deep-charcoal);
  }
</style>
