---
import { useTranslations } from "../i18n/utils";

const { currentLang = 'en' } = Astro.props;
const t = useTranslations(currentLang)
---

<a href={currentLang === 'en' ? "/contact" : "/es/contact"} class="w-full justify-center items-center">
<button
class="text-white my-8 btn btn-xl bg-[var(--color-warm-wood)] border-none hover:scale-110 transition ease-in-out duration-300"
>{t.buttons.book}</button
>
</a>