---

---
<header class="w-full">
    <!-- Desktop Navigation -->
    <nav class="mx-auto hidden md:block bg-[var(--color-natural-green)]">
        <ul class="flex items-center justify-center space-x-8 py-0">
            <li class="nav-item text-2xl"><a href="/#about">About us</a></li>
            <li class="nav-item text-2xl"><a href="/#services">Services</a></li>
            <li class="flex items-center justify-center">
                <a href="/">
                    <img src="/Logo_sinFondo.webp" alt="Thai Massage Lanzarote Logo" class="h-32">
                </a>
            </li>
            <li class="nav-item text-2xl"><a href="/contact">Contact</a></li>
            <li class="nav-item text-2xl"><a href="/#location">Location</a></li>
        </ul>
    </nav>

    <!-- Mobile Navigation with Dropdown -->
    <nav class="w-full mx-auto md:hidden bg-[var(--color-natural-green)]">
        <div class="dropdown flex justify-center">
            <div tabindex="0" role="button" class="logo">
                <img src="/Logo_sinFondo.webp" alt="Thai Massage Lanzarote Logo" class="h-32 w-auto">
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-[var(--color-secondary)] rounded-box z-[100] w-52 p-2 shadow-md mt-32">
                <li><a href="/#about" class="py-3">About us</a></li>
                <li><a href="/#services" class="py-3">Services</a></li>
                <li><a href="/contact" class="py-3">Contact</a></li>
                <li><a href="/#location" class="py-3">Location</a></li>
            </ul>
        </div>
    </nav>
</header>

<style>

    header {
        background-color: transparent;
    }
    
    nav ul {
        margin: 0;
        line-height: 1;
    }
    
    .nav-item {
        font-weight: 500;
        transition: color 0.3s ease;
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .nav-item a {
        color: var(--color-text-primary);
        text-decoration: none;
        padding: 0;
    }
    
    .nav-item a:hover {
        color: var(--color-atention);
    }

    .menu li a {
        color: var(--color-text-primary);
        font-weight: 500;
        transition: color 0.3s ease;
    }
    
    .menu li a:hover {
        color: var(--color-atention);
    }
</style>
